body {
  padding: 50px 20px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#profile-image {
  width: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #eee;
  padding: 1px 6px;
}
.achievement-image {
  width: 24px;
}
.raw {
  height: 300px;
  overflow: auto;
  border: 1px solid #888;
  background-color: #eee;
}
.meta {
  font-size: x-small;
}
.project {
  width: 30%;
  min-width: 190px;
}
.marked {
  width: 30%;
  min-width: 190px;
}
.hourdiff {
  width: 40%;
}
