<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
</head>

<body>
  <% list.forEach((user, idx)=> { %>
    <a href="/users?u=<%= user.username %>">
      <%= user.username %>
    </a>
  <% }); %>
</body>

</html>
